<!-- <button><a routerLink="/html">click me!</a></button> -->
<h1 class="text-center" style="font-weight: bolder;">Get Started</h1>
<p class="text-center fs-3">Learn to design and build professional website</p>
<!-- <div class=" pt-16 min-h-screen">

    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12  scroll-pt-16">
            <div class="print:text-black print:bg-white">
                <div class="container mx-auto max-w-6xl px-4">
                    

                    <div class="flex flex-wrap justify-center gap-4 md:gap-10 lg:gap-16">
                        <div class="border border-gray-200 dark:border-gray-700 rounded-lg w-full sm:w-72 md:w-80 h-56
                 dark:bg-slate-800 dark:border dark:border-gray-700">
                            <a href="/" class="block p-4 text-center">
                                <i class="fa-brands fa-html5  fa-fade fa-5x" style="color: #072860;"></i>
                                <div class="pt-2 h-16 text-gray-800 dark:text-slate-200">HTML - Used to create
                                    websites</div>
                                <button class="btn btn-info">Learn</button>
                            </a>
                        </div>
                        <div class="border border-gray-200 dark:border-gray-700 rounded-lg w-full sm:w-72 md:w-80 h-56
                 dark:bg-slate-800 dark:border dark:border-gray-700">
                            <a href="/" class="block p-4 text-center">
                               
                                    <i class="fa-brands fa-css3-alt fa-fade fa-5x" style="color: #072860;"></i>
                                <div class="pt-2 h-16 text-gray-800 dark:text-slate-200">CSS -Used to style HTML
                                </div>
                                <button class="btn btn-info">Learn</button>
                            </a>
                        </div>
                        <div class="border border-gray-200 dark:border-gray-700 rounded-lg w-full sm:w-72 md:w-80 h-56
                 dark:bg-slate-800 dark:border dark:border-gray-700">
                            <a href="/" class="block p-4 text-center">
                                <i class="fa-brands fa-square-js fa-fade fa-5x" style="color: #511f48;"></i>
                                <div class="pt-2 h-16 text-gray-800 dark:text-slate-200">Javascript-Used To Make Page Interactive</div>
                                <button class="btn btn-info">Learn</button>
                            </a>
                        </div>
                        <div class="border border-gray-200 dark:border-gray-700 rounded-lg w-full sm:w-72 md:w-80 h-56
                 dark:bg-slate-800 dark:border dark:border-gray-700">
                            <a href="/" class="block p-4 text-center">
                                <i class="fa-brands fa-java fa-fade fa-5x" style="color: #511f48;"></i>
                                <div class="pt-2 h-16 text-gray-800 dark:text-slate-200">Master Java Programming</div>
                                <button class="btn btn-info">Learn</button>
                            </a>
                        </div>
                        <div class="border border-gray-200 dark:border-gray-700 rounded-lg w-full sm:w-72 md:w-80 h-56
                 dark:bg-slate-800 dark:border dark:border-gray-700">
                            <a href="/" class="block p-4 text-center">
                                <i class="fa-brands fa-python fa-fade fa-5x" style="color: #511f48;"></i>
                                <div class="pt-2 h-16 text-gray-800 dark:text-slate-200">Python-General Purpose Programming</div>
                                <button class="btn btn-info">Learn</button>
                            </a>
                        </div>
                        <div class="border border-gray-200 dark:border-gray-700 rounded-lg w-full sm:w-72 md:w-80 h-56
                 dark:bg-slate-800 dark:border dark:border-gray-700">
                            <a href="/" class="block p-4 text-center">
                                <i class="fa-brands fa-php fa-fade fa-5x" style="color: #511f48;"></i>
                                <div class="pt-2 h-16 text-gray-800 dark:text-slate-200">PHP-used to work on server</div>
                                <button class="btn btn-info">Learn</button>
                            </a>
                        </div>
                        <div class="border border-gray-200 dark:border-gray-700 rounded-lg w-full sm:w-72 md:w-80 h-56
                 dark:bg-slate-800 dark:border dark:border-gray-700">
                            <a href="/" class="block p-4 text-center">
                                <i class="bi bi-filetype-sql fs-1"></i>
                                <div class="pt-2 h-16 text-gray-800 dark:text-slate-200">Sql</div>
                                <button class="btn btn-info">Learn</button>
                            </a>
                        </div>
                        <div class="border border-gray-200 dark:border-gray-700 rounded-lg w-full sm:w-72 md:w-80 h-56
                 dark:bg-slate-800 dark:border dark:border-gray-700">
                            <a href="/" class="block p-4 text-center">
                                <i class="fa-solid fa-database mx-auto fs-1"></i>
                                <div class="pt-2 h-16 text-gray-800 dark:text-slate-200">Oracle</div>
                                <button class="btn btn-info">Learn</button>
                            </a>
                        </div>
                        <div class="border border-gray-200 dark:border-gray-700 rounded-lg w-full sm:w-72 md:w-80 h-56
                 dark:bg-slate-800 dark:border dark:border-gray-700">
                            <a href="/" class="block p-4 text-center">
                                <i class="fa-solid fa-database mx-auto fs-1"></i>
                                <div class="pt-2 h-16 text-gray-800 dark:text-slate-200">Mongo-DB</div>
                                <button class="btn btn-info">Learn</button>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div> -->
<div class="container-fluid ">
<div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    <div class="col">
      <div class="card h-100">
        <i class="fa-brands fa-html5 fa-fade fa-5x card-img-top text-center pt-3" style="color: #c73c23;"></i>
        <div class="card-body">
          <h5 class="card-title text-center">Html</h5>
          <p class="card-text text-center">User Experience Design. Website Content Strategy. Cross Browser and Platform Testing.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><button type="button" class="btn btn-secondary mx-auto d-block" ><a href="https://www.geeksforgeeks.org/html/" class="text-decoration-none text-white" role="button"
            aria-pressed="true">Learn More</a></button></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <i class="fa-brands fa-css3-alt fa-fade fa-5x card-img-top text-center pt-3" style="color: #072860;"></i>
        <div class="card-body">
          <h5 class="card-title text-center">Css</h5>
          <p class="card-text text-center">Learn CSS for the first time or brush up your CSS skills and dive in even deeper. EVERY web developer has to know CSS.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><button type="button" class="btn btn-secondary mx-auto d-block" routerLink="/"><a href="https://www.geeksforgeeks.org/css/" class="text-decoration-none text-white" role="button"
            aria-pressed="true">Learn More</a></button></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <i class="fa-brands fa-js fa-fade fa-5x card-img-top text-center pt-3" style="color: #511f48;"></i>
        <div class="card-body">
          <h5 class="card-title text-center">Javascript</h5>
          <p class="card-text text-center">Modern JavaScript from the beginning - all the way up to JS expert level! THE must-have JavaScript resource in 2020.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><button type="button" class="btn btn-secondary mx-auto d-block" routerLink="/"><a href="https://www.geeksforgeeks.org/javascript/" class="text-decoration-none text-white" role="button"
            aria-pressed="true">Learn More</a></button></small>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    <div class="col">
      <div class="card h-100">
        <i class="fa-brands fa-java fa-fade fa-5x card-img-top text-center p-3" style="color: #c73c23;"></i>
        <div class="card-body">
          <h5 class="card-title text-center">Java</h5>
          <p class="card-text text-center">A programming language.The Java Tutorials are practical guides for programmers who want to use the Java programming language to create applications.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><button type="button" class="btn btn-secondary mx-auto d-block" routerLink="/"><a href="https://www.geeksforgeeks.org/java/" class="text-decoration-none text-white" role="button"
            aria-pressed="true">Learn More</a></button></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <i class="fa-brands fa-python fa-fade fa-5x card-img-top text-center p-3" style="color: #072860;"></i>
        <div class="card-body">
          <h5 class="card-title text-center">Python</h5>
          <p class="card-text text-center">A popular programming language. Python tutorial is well-suited for beginners as well as professionals, covering basic to advanced concepts of the Python programming</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><button type="button" class="btn btn-secondary mx-auto d-block" routerLink="/"><a href="https://www.geeksforgeeks.org/python/" class="text-decoration-none text-white" role="button"
            aria-pressed="true">Learn More</a></button></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <i class="fa-brands fa-php fa-fade fa-5x card-img-top text-center p-3" style="color: #511f48;"></i>
        <div class="card-body">
          <h5 class="card-title text-center">Php</h5>
          <p class="card-text text-center">This modern PHP tutorial helps you learn how to develop dynamic websites and web applications using PHP from scratch.PHP is basically used for developing web based software applications.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><button type="button" class="btn btn-secondary mx-auto d-block" routerLink="/"><a href="https://www.geeksforgeeks.org/php/" class="text-decoration-none text-white" role="button"
            aria-pressed="true">Learn More</a></button></small>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    <div class="col">
      <div class="card h-100">
        <i class="bi bi-filetype-sql fa-fade fa-5x card-img-top text-center p-3" style="color: #c73c23;"></i>
        <div class="card-body">
          <h5 class="card-title text-center">Sql</h5>
          <p class="card-text text-center">A language for accessing databases.SQL tutorial provides basic and advanced concepts of SQL. Our SQL tutorial is designed for both beginners and professionals.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><button type="button" class="btn btn-secondary mx-auto d-block" routerLink="/"><a href="https://www.geeksforgeeks.org/sql-tutorial/" class="text-decoration-none text-white" role="button"
            aria-pressed="true">Learn More</a></button></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <i class="fa-solid fa-database fa-fade fa-5x card-img-top text-center p-3" style="color: #072860; "></i>
        <div class="card-body">
          <h5 class="card-title text-center">Oracle</h5>
          <p class="card-text text-center">Our Oracle tutorial includes all topics of Oracle database such as insert record, update record, delete record, select record, create table, drop table etc.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><button type="button" class="btn btn-secondary mx-auto d-block" routerLink="/"><a href="https://www.oracletutorial.com/" class="text-decoration-none text-white" role="button"
            aria-pressed="true">Learn More</a></button></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <i class="fa-solid fa-database fa-fade fa-5x card-img-top text-center p-3"  style="color: #511f48;"></i>
        <div class="card-body">
          <h5 class="card-title text-center">Mongo-DB</h5>
          <p class="card-text text-center">This tutorial will give you great understanding on MongoDB concepts needed to create and deploy a highly scalable and performance-oriented database.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><button type="button" class="btn btn-secondary mx-auto d-block" routerLink="/"><a href="https://www.geeksforgeeks.org/mongodb-tutorial/" class="text-decoration-none text-white" role="button"
            aria-pressed="true">Learn More</a></button></small>
        </div>
      </div>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
    <div class="col">
      <div class="card h-100">
        <i class="fa-brands fa-bootstrap fa-fade fa-5x card-img-top text-center p-3" style="color: #c73c23;"></i>
        <div class="card-body">
          <h5 class="card-title text-center">Bootstrap</h5>
          <p class="card-text text-center">Bootstrap is an open-source and CSS framework that helps in directing a responsive mobile-first front-end webpage development tool.This Bootstrap tutorial series covers all the features of the Bootstrap framework</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><button type="button" class="btn btn-secondary mx-auto d-block" routerLink="/"><a href="https://www.w3schools.com/bootstrap5/" class="text-decoration-none text-white" role="button"
            aria-pressed="true">Learn More</a></button></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <i class="fa-brands fa-angular fa-fade fa-5x card-img-top text-center p-3" style="color: red;"></i>
        <div class="card-body">
          <h5 class="card-title text-center">Angular</h5>
          <p class="card-text text-center">Master Angular (formerly "Angular 2") and build awesome, reactive web apps with the successor of Angular.js.Angular is a popular open-source web application framework developed by Google. It is used to build dynamic and interactive web applications ...</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><button type="button" class="btn btn-secondary mx-auto d-block" routerLink="/"><a href="https://www.javatpoint.com/angular-7-tutorial" class="text-decoration-none text-white" role="button"
            aria-pressed="true">Learn More</a></button></small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <i class="fa-brands fa-react fa-fade fa-5x card-img-top text-center p-3" style="color: #511f48;"></i>
        <div class="card-body">
          <h5 class="card-title text-center">React</h5>
          <p class="card-text text-center">Dive in and learn React.js from scratch! Learn Reactjs, Hooks, Redux, React Routing, Animations, Next.js and way more!React is a JavaScript library for building user interfaces. React is used to build single-page applications.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted"><button type="button" class="btn btn-secondary mx-auto d-block" routerLink="/"><a href="https://www.geeksforgeeks.org/reactjs-tutorials/" class="text-decoration-none text-white" role="button"
            aria-pressed="true">Learn More</a></button></small>
        </div>
      </div>
    </div>
  </div> 
</div>
