<h2 class="text-center mt-5" style=" font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Services</h2><br>
<div class="text-center">
    <div class="container">
        <div class="row ">
          <div class="col" style="height: 300px; width: 200px; border: 1px solid rgb(226, 244, 156); float: left; margin-left: 3%; box-shadow: 2px 2px 2px grey; ">
            <img src="assets/images/a1.jfif.jpg" alt="" height="150" width="150">
            <h4 style="margin-left: 2%;">Free Tutorials</h4>
            <p style="margin-left: 2%;">We provide free tutorial and courses on various domains.</p>
          </div>
          <div class="col" style="height:300px; width: 200px; border: 1px solid rgb(226, 244, 156);  float: left; margin-left: 3%; box-shadow: 2px 2px 2px grey;">
            <img src="assets/images/a6.png" alt="" height="150" width="150">
            <h4 style="margin-left: 2%;">Exercise</h4>
            <p style="margin-left: 2%;">Each tutorials has multiple exercises at the end, that can help for daily practice. </p>
          </div>
          <div class="col" style="height: 300px; width: 200px; border: 1px solid rgb(226, 244, 156); float: left; margin-left: 3%; box-shadow: 2px 2px 2px grey;">
            <img src="assets/images/a4.png" alt="" height="150" width="150">
            <h4 style="margin-left: 2%;">Quizes</h4>
            <p style="margin-left: 2%;" >Our app has different quizes on each domain, play the quiz and know your strengths.</p>
          </div>
          <div class="col" style="height: 300px; width: 200px; border: 1px solid rgb(226, 244, 156); float: left; margin-left: 3%; box-shadow: 2px 2px 2px grey;">
            <img src="assets/images/a5.png" alt="" height="150" width="150">
            <h4 style="margin-left: 2%;"> Bootcamp</h4>
            <p style="margin-left: 2%;">We arrange bootcamps at college and school level, participate in that and help us to grow.</p>
          </div>
        </div><br><br>
       
      </div>
</div>

<!--section2-->
<h1 class="text-center">Trusted by teachers in</h1>
<h1 class=" text-center mb-5" style="color: rgb(144, 144, 4); text-decoration: underline;">90% of Indian Schools</h1>


<div class="card-group p-5 mb-5">
  <div class="card shadow border-none ms-5">
    <img  src="assets/images/clock.jfif.jpg" height="200" width="300"  class="card-img-top  rounded-circle" alt="...">
    <div class="card-body text-center">
      <h5>Save teachers <b>3.5</b>hrs/week</h5>
    </div>
   
  </div>
  <div class="card shadow ms-2 me-2">
    <img src="assets/images/note.jfif.jpg" height="200" width="300" class="card-img-top  rounded-circle" alt="...">
    <div class="card-body text-center">
      <h5>Improve test scores by up to <b>50%</b></h5>
    </div>
   
  </div>
  <div class="card shadow me-5">
    <img src="assets/images/bal.jfif.jpg" height="200" width="300" class="card-img-top bg-white img-responsive  rounded-circle" alt="..." style="background-color: aliceblue;">
    <div class="card-body text-center">
      <h5>Reduce test-taking anxiety</h5>
    </div>
    
  </div>
</div>


<!-- <div class="row ml-5">
  <div class="col-4" style="height: 200px; width: 100px; float: left; margin-left: 2%;">
    <img src="assets/images/clock.jfif.jpg" alt="" height="100" width="200">
    <h5>Save teachers <b>3.5</b>hrs/week</h5>
  </div>
  <div class="col-4" style="height: 200px; width: 300px; float: left; margin-top: 10%; margin-left: 2%;">
    <img src="assets/images/note.jfif.jpg" alt="" height="100" width="200">
    <h5>Improve test scores by up to <b>50%</b></h5>
  </div>
  <div class="col-4" style="height: 200px; width: 300px; float: left; margin-left: 2%;">
    <img src="assets/images/bal.jfif.jpg" alt="" height="100" width="200">
    <h5>Reduce test-taking anxiety</h5>
  </div>
</div> -->

