<div class="mt-2">
    <h2>Practice Makes Perfect</h2>
</div>
<p class="p">Sharpen and Master your development skills with these technologies using Spaces.</p>




<div class="row m-5">
    <div class="col-md-4 col-sm-4 me-5">
      <div class="service-box">
        <div class="services-info fs-5 card p-4 border-rounded">
          <h3>Pro <br></h3>
          <!-- <p>We design website according to customer's website requirement. Every website design is unique according to its requirement and type. That makes design user friendly and keep your visitors on your site for long time. Helps to increase visitors on your site and reach more potential customer.</p> -->
          <!--<span class="view-btn"><a href="#"><span>View more</span></a></span>-->
          <p>
            Build and Host your frontend projects
          </p>
          <h3>$4.99 <span>/month</span></h3>
          <p>All Free + upgraded to</p>
          <h1>10</h1>
          <p>Basic Plan</p>
          <ul type="disc">
            <li class="list-item">&nbsp; Ad Free Browsing</li>
            <li class="list-item">&nbsp; HTML Vedio Tutorial</li>
            <li class="list-item">&nbsp; Private Mode</li>
            <li class="list-item">&nbsp; Priority support</li>
            <li class="list-item">&nbsp; Cancel Anytime</li>
            <button type="button" class=" m-2btn btn-success rounded-pill ps-3 pe-3 mt-5">Get Pro</button>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 me-5">
      <div class="service-box">
        <div class="services-info fs-5 card p-4 border-rounded">
          <h3>Premium <br></h3>
          <!-- <p>Our browser compatible web design allows all device users to access website from various devices available in the market. We design website in a single platform for all devices, that's why it is light in weight and load faster.</p> -->
          <p>
            Get backend support and all you need to build a web app
          </p>
          <h3>$9.99 <span>/month</span></h3>
          <p>All Pro + upgraded to</p>
          <h1>15</h1>
          <p>Basic Plan</p>
          <h1>1</h1>
          <ul type="disc">
            <li class="list-item">&nbsp; Fullstack + database</li>
            <button type="button" class=" m-2btn btn-success rounded-pill ps-3 pe-3 mt-5">Get Premium</button>
          </ul>
          <!--<span class="view-btn"><a href="#"><span>View more</span></a></span>-->
        </div>
      </div>
    </div>


    <div class="col-md-3 col-sm-4">
      <div class="service-box">
        <div class="services-info fs-5 card p-4 border-rounded">
          <h3>Free <br></h3>
          <!-- <p>We offer responsive business designs for online marketers who want to start selling goods or services online. All business design is attractive and unique as per business/ Service type. We setup all things from design to the payment gateway setup.</p> -->
          <p>
            code directly in the browser No setup required
          </p><br>
          <p>You Get</p>
          <h1>1</h1>
          <p>Basic Plan</p>
          <ul type="disc">
            <li class="list-item">&nbsp; My learning</li>
            <li class="list-item">&nbsp; Public Profile</li>
            <li class="list-item">&nbsp; DevelopYourMind Community</li>
            <li class="list-item">&nbsp; Global certificate</li>
            <button type="button" class=" m-2btn btn-success rounded-pill ps-3 pe-3 mt-5">Get Free</button>
          </ul>
          <!--<span class="view-btn"><a href="#"><span>View more</span></a></span>-->
        </div>
      </div>
    </div>
  </div>




<main>
  <div class="container-fluid py-4">
    <div class="sec text-center mx-auto mb-5" style="background-color: #096484">
      <span id="topreviews" class="text-white fs-1 mt-2"> TOP REVIEWS</span>
    </div>
    <div class="row align-items-md-stretch m-5">
      <div class="box col-md-4">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3 class="title">Amazing results</h3>
        <p>
          DevelopYourMind is outstanding no doubt, everyone loves it and I
          also. There are so many amazing things I've noticed on Job
          Junction, that's why this platform is one of my first choices.
        </p>
        <div class="user">
          <img src="assets/images/th (5).jpeg" alt="" class="rounded-circle" />
          <div>
            <h3 c>Mia</h3>
            <span>web designer</span>
          </div>
        </div>
      </div>
      <div class="box col-md-4">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3 class="title">Amazing And Pointed Domain</h3>
        <p>
          DevelopYourMind is outstanding no doubt, everyone loves it and I
          also. There are so many amazing things I've noticed on Job
          Junction, that's why this platform is one of my first choices.
        </p>
        <div class="user">
          <img src="assets/images/leo.jpeg" alt="" class="rounded-circle" />
          <div>
            <h3>Leo</h3>
            <span>web designer</span>
          </div>
        </div>
      </div>

      <div class="box col-md-4">
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <h3 class="title">Easy To Use</h3>
        <p>
          DevelopYourMind is outstanding no doubt, everyone loves it and I
          also. There are so many amazing things I've noticed on Job
          Junction, that's why this platform is one of my first choices.
        </p>
        <div class="user">
          <img src="assets/images/th (6).jpeg" alt="" class="rounded-circle" />
          <div>
            <h3>Fiat</h3>
            <span>web designer</span>
          </div>
        </div>
      </div>
    </div>

    <header class="pb-3 mb-4">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Why Choose Us...?</h1>
        <p class="col-md-8 fs-4">
          DevelopYourMind is one of the top portal in India. DevelopYourMind is
          one of those quiz portal which are user-friendly, cost effective,
          and demands a lot of attention in today's industrial and
          commercial world. It has made its name in the market at large of
          recruitment of job profiles in various field which are available
          in this world today like Graphic designing, Content writing, etc.
        </p>
        <button class="btn btn-secondary btn-lg p-3" type="button">
          CONTACT US
        </button>
      </div>
    </div>

    <div class="mt-5 border p-5" id="ContactUs">
      <h2>Contact For Any Query</h2>
      <div class="row">
        <div class="col-md-6">
          <form action="" class="form w-100 mt-3 pe-4">
            <label for="" class="label text-dark">UserName:</label><br>
            <input class="form-control p-2" type="text" placeholder="Enter the user name" /><br>
            <label for="" class="label text-dark">Email:</label>
            <input class="form-control p-2" type="email" placeholder="Enter the email" /><br>
            <label for="" class="label text-dark">Password:</label>
            <input class="form-control p-2" type="password" placeholder="Enter the password" /><br>
            <label for="" class="label text-dark">Role</label>
            <select name="" id="" class="form-control p-2">
              <option value="">Job Seeker</option>
              <option value="">Job Provider</option>
            </select><br>
            <label for="" class="label text-dark">Message Here!</label>

            <textarea name="" id="" cols="30" rows="3" class="form-control"></textarea>
          </form>
        </div>
        <div class="col-md-6">
          <img src="assets/images/location.jpg" alt="" class="img-fluid mt-5" />
        </div>
      </div>
      <button type="button" class="btn btn-secondary m-4 p-3">
        Send Message
      </button>
    </div>
  </div>
</main>


