
<section>

    <div class="form-box">
        <div class="form-value">
        <form>
            <h2> REGISTER </h2>
            <div class="inputbox">
                <input type="text" required>
                <label for="fname">First_name</label>
            </div>
            <div class="inputbox">
                <input type="text" name="" id="" required>
                <label for="lname">Last_name</label>
            </div>
           <div class="inputbox">
            <input type="email" required>
            <label for="E-mail" required>E-mail_id</label>
           </div>
            <div class="inputbox">
                <input type="password"required>
                <label for="password">Password</label>
            </div>
            <div class="inputbox">
            <input type="password"required>
            <label for="confirm password">confirm_Password</label>
            </div>
            <button type="submit" >REGISTER</button>
            
        </form>
    </div>
    </div>
    </section>
    
